.communityLinks {
    padding: 0 1rem;
    width: 100%;
}

.communityLinks ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.communityLinks ul li {
    list-style: none;
    width: 1.5rem;
    font-size: 1.5rem;
}

.communityLinks ul li img{
    width: 100%;
}