.communityLinks {
    padding: 0 1rem;
    width: 100%;
}

.communityLinks ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
}

.communityLinks ul li {
    list-style: none;
    width: 20px;
    font-size: 20px;
}

.communityLinks ul li img{
    width: 20px;
}