.galleryList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px auto;
    justify-items: center;
    align-items: center;
}


.galleryListItem {
    box-shadow: 10px 8px 15px black;
}

.galleryListItem img{
    width: 100%;
}

.galleryListItem h4 {
    margin: 0;
    padding: 10px;
}