.galleryList, .galleryList2fr {
    display: grid;
    gap: 20px;
    margin: 10px auto;
    justify-items: center;
    align-items: flex-start;
}

.galleryList {
    grid-template-columns: 1fr 1fr 1fr;
}

.galleryList2fr {
    grid-template-columns: 1fr 1fr;
}

.galleryListItem img{
    width: 100%;
}

.galleryListItem .description {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.galleryListItem .description > * {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.galleryListItem .description div {
    font-size: medium;
}

.galleryListItem .description h4{
    font-size: large;
}

.galleryListItem div a {
    color: rgb(95, 170, 255);
}

.galleryListItem div a:hover {
    color: white;
}

.galleryListItem h4 a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.galleryListItem h4 a:hover {
    color: yellow;
}

.icon {
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .galleryList {
        grid-template-columns: 1fr 1fr;
    }

    .galleryList2fr {
        grid-template-columns: 1fr;
    }
}