.layout header {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.layout header.notFull {
    height: 80px;
}

.layout header video {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.layout header .flex {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.3);
    background-image: url(/images/background_dot.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layout .mainLogo {
    max-height: 25%;
    max-width: 50%;
    width: auto;
    height: auto;
    animation-duration: 2s;
    animation-name: logoEnter;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes logoEnter {
    from {
        margin-bottom: -50px;
        opacity: 0;
    }

    to {
        margin-bottom: 0;
        opacity: 1;
    }
}

.layout .logo75 {
    height: 75%;
}

.layout .logo100px {
    height: 100px;
}

.layout main {
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: white;
}

.layout main > section{
    width: 80%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 50px 50px;
    background-image: url(/images/background_dot.png);
    background-color: rgba(20, 20, 20, 0.3);
    box-shadow: 15px 15px 15px black;
}

.layout main > section h1 {
    margin: 0;
    font-size: 3.75em;
    font-family: "Lexend Zetta";
    text-align: center;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    color: black;
}

.layout main > section hr {
    width: 50%;
    height: 10px;
    border: 0px;
    transform: skewX(-45deg);
    background-image: linear-gradient(175deg, rgb(0, 195, 195), rgb(0, 0, 195));
}

.layout footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color:rgb(20, 20, 20);
    color: white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .layout main > section {
        width: 100%;
    }
}