.youtubeVideosSection {
    width: 85%;
    margin: 0 auto;
}

.youtubeVideoList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 0;
}

.youtubeVideoList li {
    list-style-type: none;
}

.youtubeVideoList li iframe {
    width: 100%;
    height: auto;
    aspect-ratio: auto 5 / 3;
}