.image {
    width: 100%;
}

.youtube {
    display: block;
    margin: 0 auto;
}

.twitter {
    width: 85%;
    margin: 10px auto;
}

@media screen and (max-width: 1000px) {
    .youtube {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}